<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header>
      <div id="title">
        <img src="{{ ASSET_PATH }}/img/title.png" title="EnterTheBasement is the place where the PieSync team hangs out after a rough day of work" width="872" height="94"/>
      </div>
    </header>
    <sidebar>
      <div id="who">
        <img src="{{ASSET_PATH}}/img/piesync-logo.jpg" title="We work at PieSync, but hangout here." width="160" height="91" style="margin-left:35px" />
        <p>
          We are Ewout, Mattias and Simon from <a href="http://www.piesync.com" title="Integration of Highrise in your Gmail">PieSync</a> and this is our basement. We like to hang out here after work (and sometimes during). So grab a seat and make yourself at home.
        </p>
      </div>
      <!-- <div id="beta">
        <h3>Private Beta Coming</h3>
        <p>Enter your email below and be one of the first to try out <a href="http://www.piesync.com" title="Integration of Highrise in your Gmail">PieSync</a>.</p>
        <form>
          <input type="text" placeholder="email" name="email" id="email" />
          <input type="submit" name="submit" id="submit" value="Get me on the list" />
        </form>
      </div> -->
    </sidebar>
    <div role="main" class="container">
      <p id="subtitle">
        We talk about web development, design, startup culture and every day life as a beginning entrepreneur.
      </p>
      <div id="beta-panel">
        <h2 class="no-padmar title">Subscribe for Private PieSync Beta</h2>
        <h4 class="no-padmar title" style="margin-top: 5px">Finally have the power of Highrise in your Gmail</h4>
        <div style="height: 135px; margin-top: 10px">
          <ul class="no-padmar">
            <li>Up to date information</li>
            <li>Facilitate interaction</li>
            <li>Full mobile access</li>
            <li>No installations</li>
          </ul>
          <div class="form">
            <p class="no-padmar" style="font-size: 14px; margin-bottom: 5px">
              Fill in your email and be one of the first to try it out:
            </p>
            <form>
              <input type="text" placeholder="email" name="email" id="email" />
              <input type="submit" name="submit" id="submit" value="Get me on the list" />
            </form>
          </div>
        </div>
      </div>
      {{ content }}
    </div>
    <footer>
      <ul>
        <li>
          <a href="http://www.piesync.com" title="PieSync - the power of highrise in your gmail">PieSync</a>
        </li>
        <li>
          <a href="https://twitter.com/piesync" title="Follow PieSync on Twitter">Twitter</a>
        </li>
      </ul>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

    {% include JB/analytics %}
  </body>
</html>
