<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
    <link href="{{ ASSET_PATH }}/css/style.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header>
      <div id="title">
        <a href="/" style="position: relative" title="Go back to the basement">
          <img src="{{ ASSET_PATH }}/img/title.png" width="872" height="94"/>
          <img id="arrow" src="{{ ASSET_PATH }}/img/enter-arrow.png" width="38" height="39" style="display: none;position: absolute;left: 29px;"/>
        </a>
      </div>
    </header>
    {% if page.beta_panel %}
      {% assign beta_panel = page.beta_panel %}
    {% endif %}
    {% include themes/piesync/_sidebar.html %}
    <div role="main" class="container">
      <p id="subtitle">
        We talk about web development, design, startup culture and every day life as a beginning entrepreneur.
      </p>
      {{ content }}
    </div>
    <div class="clearfix"></div>
    <footer>
      <ul>
        <li>
          <a href="http://www.piesync.com" title="PieSync - the power of highrise in your gmail">PieSync</a>
        </li>
        <li>
          <a href="{{ BASE_PATH }}">EnterTheBasement</a>
        </li>
        <li>
          <a href="{{ BASE_PATH }}/archive.html">Archive</a>
        </li>
        <li>
          <a href="{{ BASE_PATH }}/categories.html">Categories</a>
        </li>
        <li>
          <a href="https://twitter.com/piesync" title="Follow PieSync on Twitter">Twitter</a>
        </li>
        <li>
          <a href="mailto:support@piesync.com" title="Send us a mail">Contact</a>
        </li>
      </ul>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/piesync.min.js"></script>
    <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
    <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/piesync.json?callback=twitterCallback2&count=1"></script>

    {% include JB/analytics %}
  </body>
</html>
