<section class="post">
<h1>The title of the first blogpost</h1>
<div class="sub">
  <span class="author">Simon</span>
  <span class="date">7 March</span>
  <span class="comments">
    <a href="">12 comments</a>
  </span>
</div>
<p>
  Some very interesting paragraph, with not that much to say. After all, we want to smooth in the transition of our new found presence. As soon as they get accustomed to us, we will start flooding them with text. They will have no idea what hit them. And that, my friends, is what makes it so clever.
</p>
<p>
  An even shorter paragraph. That's right. It's done.
</p>
<p class="more">
  <a href="">
    Read more
  </a>
</p>
</section>