---
layout: page
title: Categories
header: Posts By Category
group: navigation
beta_panel: true
---
{% include JB/setup %}

<ul class="tag_box categories no-list" style="padding-top: 20px">
  {% assign categories_list = site.categories %}
  {% assign showsize = true %}
  {% include JB/categories_list %}
</ul>


{% for category in site.categories %} 
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}

